body{
    background-color: rgb(37, 37, 37);
    color: white;
}
table{
    margin: auto;
}

th{
    border-collapse: collapse;
    border: 1px solid white;
    width: 300px;
}
td{
    border: 1px solid white;
    padding: 8px;
}
caption{
    font-size: 25px;
    font-weight: bold;
}
th:hover{
    background-color: aquamarine;
    color: rgb(37, 37, 37);
    transition-duration: .4s;
}