@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: text;
    src: url('HeadingNowTrial-67Extrabold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 10px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    font-family: serif;
    font-weight: lighter;
    text-decoration: wavy;
}
h3{
    font: bold 2em 'Arial';
    color: rgb(0, 119, 255);
    text-align: center;
}
p.import{
    font-family: 'Lato', sans-serif;
}
p.external{
    font-family: text;
}


