body{
    background-color: rgb(37, 37, 37);
}
h1{
    color: aliceblue;
    text-align: center;
}
table.one{
    color: aliceblue;
    border-collapse: separate;
    width: 350px;
    height: 350px;
    text-align: center;
    margin: auto;
}
td, th{
    border: 1px solid white;
    padding: 8px;
}
td:hover{
    background-color: rgb(127, 255, 212);
    color: rgb(39, 39, 39);
    transition-duration: .3s;
}
table.two{
    color: aliceblue;
    border-collapse: separate;
    width: 250px;
    height: 100px;
    text-align: center;
    margin: auto;
}
td.num{
    text-align: right;
}