body{
    background-color: rgb(37, 37, 37);
}
h1{
    color: aliceblue;
    text-align: center;
}
table.one{
    color: aliceblue;
    border-collapse: separate;
    width: 350px;
    height: 350px;
    text-align: center;
    margin: auto;
}
td, th{
    border: 1px solid white;
    padding: 8px;
}
td:hover{
    background-color: rgb(127, 255, 212);
    color: rgb(39, 39, 39);
    transition-duration: .3s;
}
table.two{
    color: aliceblue;
    border-collapse: separate;
    width: 250px;
    height: 100px;
    text-align: center;
    margin: auto;
    position: relative;
}
thead > tr >th{
    position: sticky;
    top: -1px;
    background-color: rgb(32, 32, 32);
}
td.num{
    text-align: right;
}
caption:hover{
    color: aqua;
    font-weight: bold;
}
/*Incluindo efeito zebrado em minha tabela / even ou odd 2n ou 2n-1*/
tbody tr:nth-child(odd){
    background-color: rgb(202, 231, 220);
}
tfoot tr{
    background-color: rgb(202, 231, 220);
    color: rgb(37, 37, 37);
}
table.tres{
    text-align: center;
    margin: auto;
}