body{
    background-color: rgb(27, 27, 27);
    color: white;
}
h1{
    color: white;
    background-color: rgb(85, 163, 228);
    text-align: center;
}
p{
    color: aliceblue;
}
mark{
    background-color: lime;
}