body{
    background-color: rgb(31, 31, 31);
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 140, 255);
}
h2{
    color: rgb(54, 152, 238);
    text-align: center;
}
p{
    color: aliceblue;
    text-align: end;
}

.text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div{
    color: rgb(255, 255, 255);
    text-align: center;
}
img#css{
    width: 500px;
}
h3{
    color: antiquewhite;
    text-align: center;
}
h4{
    color: antiquewhite;
    text-align: left;
}
p.one{
    text-align: center;
    font-size: 10px;
}